* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgba(32, 33, 36, 1);
}
.nav-container {
  display: flex;
  float: right;
  align-items: center;
  margin-top: -3rem;
  margin-right: 1rem;
}

.nav-a-1 {
  margin-left: 20px;
  display: inline-block;
  line-height: 24px;
  vertical-align: middle;
  color: white;
  text-decoration: none;
  font-family: arial, sans-serif;
  font-size: 13px;
}

.nav-a-1:hover {
  text-decoration: underline;
}

.bell {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  display: flex;
  padding: 5px 8px 0 14px;
}

.search--icon {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  cursor: pointer;
  pointer-events: auto;
  position: absolute;
  top: 206px;
  left: 40px;
  margin-right: 10px;
  color: #9aa0a6;
}
.mic--icon {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  cursor: pointer;
  pointer-events: auto;
  position: absolute;
  top: 206px;
  right: 50px;
  margin-left: 10px;
}

#input_el {
  resize: none;
  background-color: transparent;
  border: none;
  color: #e8eaed;

  outline: none;
  display: flex;
  flex: 1;
  padding: 0px 8px 0 50px;
  display: flex;

  border: 0.1px solid rgb(116, 112, 112);
  border-radius: 50px;
  height: 46px;
  font-size: 17px;

  width: auto;
  max-width: 584px;
}

.app--menu {
  display: inline-block;
  outline: none;
  vertical-align: middle;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 22px;
  width: 22px;
  cursor: pointer;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
}
.app--menu:hover {
  background-color: rgba(232, 234, 237, 0.08);
  border-radius: 50%;

  height: 40px;
  width: 40px;
  padding: 10px;
}

.profile--photo {
  background-size: 32px 32px;
  border: 0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  margin: 0px;
  position: relative;
  height: 32px;
  width: 32px;
  z-index: 0;
}

#logo {
  height: 92px;
  width: 272px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

#input_el:hover {
  background-color: #303134;
  box-shadow: 0 1px 6px 0 #171717;
  border-color: rgba(223, 225, 229, 0);
}

.btn-bt {
  text-align: center;
  margin-top: 1rem;
}
.search_btn {
  background-color: #303134;
  border: 1px solid #303134;
  border-radius: 4px;
  color: #e8eaed;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.search_btn:hover {
  box-shadow: 0 1px 3px rgb(23 23 23 / 24%);
  background-color: #303134;
  border: 1px solid #5f6368;
  color: #e8eaed;
}

.feeling_btn {
  background-color: #303134;
  border: 1px solid #303134;
  border-radius: 4px;
  color: #e8eaed;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.feeling_btn:hover {
  box-shadow: 0 1px 3px rgb(23 23 23 / 24%);
  background-color: #303134;
  border: 1px solid #5f6368;
  color: #e8eaed;
}

.img_input {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offLang--container {
  display: flex;
  justify-content: center;
}
.labguages {
  display: flex;
  justify-content: center;
}

.offered {
  text-decoration: none;
  list-style: none;
  margin-left: 0.4rem;
  color: #8ab4f8;
  display: inline-block;
  line-height: 50px;
  font-size: small;
  font-family: arial, sans-serif;
}

p {
  color: #bdc1c6;
  display: inline-block;
  line-height: 22px;
  font-size: small;
  font-family: arial, sans-serif;
}

.footer--container {
  bottom: 0;
  text-align: center;
  position: sticky;
  flex-shrink: 0;
}

.foot {
  text-decoration: none;
  list-style: none;
  margin-left: 1.1rem;
  color: #999da2;
  display: inline-block;
  line-height: 50px;
  font-size: 14px;
  font-family: arial, sans-serif;
}
.foot:hover {
  text-decoration: underline;
}

.footer--container {
  background-color: #171717;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer--container1 {
  background-color: #171717;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #3c4043;
  font-size: 15px;
  color: #9aa0a6;
  position: absolute;
  bottom: 50px;
  width: 100%;
  z-index: 1;
}
.foot2 {
  text-decoration: none;
  list-style: none;
  margin-left: 0.4rem;
  color: #999da2;
  display: inline-block;
  line-height: 50px;
  font-size: 14px;
  font-family: arial, sans-serif;
}
.footer--middle {
  margin-right: 8rem;
  padding-right: 2rem;
}

.flower {
  height: 14px;
  margin-right: -16.2px;
}

.googlee--offer {
  text-decoration: none;
  list-style: none;
  margin-left: 0.4rem;
  display: inline-block;
  line-height: 50px;
  font-size: small;
  font-family: arial, sans-serif;
}

/* MEDIA QUERRY STARTS FROM HERE */
@media screen and (min-width: 640px) {
  .bell {
    width: 100%;
    margin: 0 auto;
  }
  .search--icon {
    top: 206px;
    left: 60px;
  }
  .mic--icon {
    top: 206px;
    right: 50px;
    margin-left: 10px;
  }
}

@media screen and (min-width: 712px) {
  .bell {
    width: 100%;
    margin: 0 auto;
  }
  .search--icon {
    top: 206px;
    left: 111px;
  }
  .mic--icon {
    top: 206px;
    right: 100px;
    margin-left: 10px;
  }
}
@media screen and (min-width: 768px) {
  .bell {
    width: 100%;
    margin: 0 auto;
  }
  .search--icon {
    top: 206px;
    left: 111px;
  }
  .mic--icon {
    top: 206px;
    right: 114px;
    margin-left: 10px;
  }
}

@media screen and (min-width: 800px) {
  .bell {
    width: 100%;
    margin: 0 auto;
  }
  .search--icon {
    top: 206px;
    left: 138px;
  }
  .mic--icon {
    top: 206px;
    right: 138px;
    margin-left: 10px;
  }
}
@media screen and (min-width: 820px) {
  .bell {
    width: 100%;
    margin: 0 auto;
  }
  .search--icon {
    top: 206px;
    left: 138px;
  }
  .mic--icon {
    top: 206px;
    right: 138px;
    margin-left: 10px;
  }
}
@media screen and (min-width: 912px) {
  .bell {
    width: 100%;
    margin: 0 auto;
  }
  .search--icon {
    top: 206px;
    left: 180px;
  }
  .mic--icon {
    top: 206px;
    right: 180px;
    margin-left: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .bell {
    width: 100%;
    margin: 0 auto;
  }
  .search--icon {
    top: 206px;
    left: 238px;
  }
  .mic--icon {
    top: 206px;
    right: 238px;
    margin-left: 10px;
  }
}

@media screen and (min-width: 1115px) {
  .bell {
    width: 100%;
    margin: 0 auto;
  }
  .search--icon {
    top: 206px;
    left: 289px;
  }
  .mic--icon {
    top: 206px;
    right: 289px;
    margin-left: 10px;
  }
}
@media screen and (min-width: 1280px) {
  .bell {
    width: 100%;
    margin: 0 auto;
  }
  .search--icon {
    top: 206px;
    left: 368px;
  }
  .mic--icon {
    top: 206px;
    right: 368px;
    margin-left: 10px;
  }
}
@media screen and (min-width: 1366px) {
  .bell {
    width: 100%;
    margin: 0 auto;
  }
  .search--icon {
    top: 206px;
    left: 420px;
  }
  .mic--icon {
    top: 206px;
    right: 420px;
    margin-left: 10px;
  }
}
